body, ul, li, p{
 margin: 0px;
 padding: 0px;
 list-style: none;
 font-size: 1.2rem;
 font-family: arial;
}

.logo{
    width: 200px;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.header{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
    background-color: #922ae7;
}
  body{
     background-color: rgb(255, 247, 247);
  }